<template>
  <div class="home">
    <inputs/>
  </div>
</template>

<script>
  import inputs from "../components/input.vue"
  export default {
    components:{
      inputs, 
    }
  }
</script>

<style lang="scss" scoped>

</style>