<template>
  <div class="big">
    <div
      class="container"
      v-bind:class="[{ fade: isFade }, { bright: !isFade }]"
    >
      <div class="inputDetail">
        <h3>Enter Mortgage Information</h3>
        <div class="input-wrapper">
        <div class="input">
          <div class="price">
            <p>Price</p>
            <input
              class="priceValue"
              v-model.number="originalPrice"
              :readonly="isCalc === true"
              maxlength="7"
            />
          </div>
          <input
            type="range"
            class="slider"
            min="0"
            max="1000000"
            :disabled="isCalc === true"
            v-model.number="originalPrice"
          />
        </div>
        <div class="input">
          <div class="price">
            <p>Inital Payment</p>
            <input
              class="priceValue"
              v-model.number="initial"
              :readonly="isCalc === true"
              maxlength="7"
            />
          </div>
          <input
            type="range"
            class="slider"
            min="0"
            max="1000000"
            v-model.number="initial"
            :disabled="isCalc === true"
          />
        </div>

        <div class="input">
          <div class="price">
            <p>Interest</p>
            <input
              class="priceValue"
              v-model.number="interest"
              :readonly="isCalc === true"
              maxlength="3"
            />
          </div>
          <input
            type="range"
            class="slider"
            min="0"
            max="100"
            v-model.number="interest"
            :disabled="isCalc === true"
          />
        </div>

        <div class="input">
          <div class="price">
            <p>Time Period</p>
            <input
              class="priceValue"
              v-model.number="years"
              :readonly="isCalc === true"
              maxlength="2"
            />
          </div>
          <input
            type="range"
            class="slider"
            min="0"
            max="50"
            v-model.number="years"
            :disabled="isCalc === true"
          />
        </div>

        <button
          class="cal"
          v-if="isCalc === false"
          @click="Calc(originalPrice, initial, interest, years)"
        >
          Monthly Payment
        </button>
        <button v-else @click="reset()" :disabled="isFade === true">
          Reset
        </button>
        </div>
      </div>

      <div class="stats">
        <div class="total" :class="{ total_after: isCalc }">
          <div v-if="isCalc === false" class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="total-text">
            <p v-if="isCalc === true">$ {{ $store.getters.getAll }}</p>
            <p v-else>
              0
            </p>
          </div>
        </div>

        <div class="statsDetail">
          <h3>Monthly Payment Breakdown:</h3>

          <div>
            <p>Principal + Interest :</p>
            <p v-if="isCalc === true">$ {{ $store.getters.getAll }}</p>
            <p v-else>0</p>
          </div>
          <div>
            <p>Total Interest :</p>
            <p v-if="isCalc === true">$ {{ $store.getters.getInterest }}</p>
            <p v-else>0</p>
          </div>
          <div>
            <p>Total Months :</p>
            <p v-if="isCalc === true">{{ $store.getters.getMonth }}</p>
            <p v-else>0</p>
          </div>
          <div>
            <p>Monthly Payment :</p>
            <p v-if="isCalc === true">$ {{ $store.getters.getPerMonth }}</p>
            <p v-else>0</p>
          </div>
        </div>
      </div>
    </div>

    <div v-if="isCalc" class="tf">
      <Lottie
        :options="defaultOptions"
        :height="200"
        :width="200"
        v-on:animCreated="handleAnimation"
        id="lottie"
      />
      <div class="lottie-text">
        <h1 class="ml1">
          <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters">SUCCESS</span>
            <span class="line line2"></span>
          </span>
        </h1>
      </div>
    </div>
  </div>
</template>

<script>
import Lottie from "./lottie.vue";
import animationData from "@/assets/checkmark.json";

export default {
  components: {
    Lottie,
  },

  data: () => {
    return {
      originalPrice: 0,
      initial: 0,
      interest: 0,
      modal: true,
      years: 0,
      isFade: false,
      isCalc: false,
      defaultOptions: { animationData: animationData },
      animationSpeed: 1,
    };
  },

  watch: {
    isFade: function() {
      if (this.isFade === true) {
        setTimeout(() => {
          this.isFade = false;
        }, 3000);
      }
    },
  },
  methods: {
    Calc(originalPrice, initial, interest, years) {
      this.$store.dispatch("set_originalPrice", originalPrice);
      this.$store.dispatch("set_initial", initial);
      this.$store.dispatch("set_interest", interest);
      this.$store.dispatch("set_years", years);
      (this.isFade = true), (this.isCalc = true);
    },

    reset() {
      this.originalPrice = 0;
      this.initial = 0;
      this.interest = 0;
      this.years = 0;

      this.isCalc = false;
    },
    debounce_originalPrice() {
      setInterval(() => {
        if (typeof this.originalPrice === "string") {
          this.originalPrice = 0;
        }
      }, 5000);
    },
    debounce_initial() {
      setInterval(() => {
        if (typeof this.initial === "string") {
          this.initial = 0;
        }
      }, 5000);
    },
    debounce_interest() {
      setInterval(() => {
        if (typeof this.interest === "string") {
          this.interest = 0;
        }
      }, 5000);
    },
    debounce_years() {
      setInterval(() => {
        if (typeof this.years === "string") {
          this.years = 0;
        }
      }, 5000);
    },

    handleAnimation: function(anim) {
      this.anim = anim;
    },

    stop: function() {
      this.anim.stop();
    },

    play: function() {
      this.anim.play();
    },

    pause: function() {
      this.anim.pause();
    },

    onSpeedChange: function() {
      this.anim.setSpeed(this.animationSpeed);
    },

    // toggleisFade () {
    //     setInterval(() => {
    //     if(this.isFade === true) {
    //     this.isFade = false
    //   }
    //       }, 5000)
    // }
  },
  created() {
    this.debounce_originalPrice(),
      this.debounce_initial(),
      this.debounce_interest(),
      this.debounce_years();
    // this.toggleisFade()
  },
  // originalPrice: function() {
  //     if(typeof(this.originalPrice) === 'string') {
  //         this.originalPrice = 0
  //     }
  // }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.lottie-text h1 {
  transition-delay: 3s;
}
.total-text {
  font-size: 3rem;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  outline: none;
  background: #f5c7c7;
  border: none;
  margin-top: 2rem;
  transition: ease-out 0.5s;
}

.bright {
  transition: ease-in 0.5s;
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

/* input:focus {
  border: none;
} */

.fade {
  opacity: 0;
  transition: ease-out 0.5s;
  display: none;
}
.tf {
  width: 50%;
  height: 50%;
  background-color: white;
  z-index: 1;
  padding-top: 50px;
  position: absolute;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  animation: cssAnimation 0s 3s forwards;
  visibility: visible;
  align-items: center;
  top: 20%;
  display: block;
}

@keyframes cssAnimation {
  to {
    visibility: hidden;
  }
}

.big {
  background-image: url("../assets/app-bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  /* padding: 10px 20px; */
}

.inputDetail {
  padding: 2rem;
  width: 50%;
  /* border-right: 1px solid rgba(0, 0, 0, 0.2); */
}

.inputDetail h3 {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 30px;
}

.stats {
  width: 49%;
}
.input {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem;
  margin: 1rem;
  border: none;
  outline: none;
  box-shadow: 0 1px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.price {
  display: flex;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
h3 {
  text-align: center;
}

input {
  border: none;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  padding: 10px;
  border-radius: 20px;
  transition: ease 0.3s;
  outline: none;
}

button {
  border: none;
  border-radius: 40px;
  width: 80%;
  margin-left: 80px;
  padding: 20px 30px;
  box-sizing: border-box;
  background-color: #58cfdb;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.stats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.total {
  width: 20rem;
  height: 20rem;
  /* background-color: #ffffff; */
  border-radius: 50%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.total_after {
  width: 20rem;
  height: 20rem;
  /* background-color: #ffffff; */
  border: 8px solid #a1dbdd;
  border-radius: 50%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.totalCircle {
  width: 60%;
  height: 65%;
  border: 5px solid white;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.statsDetail {
  width: 80%;
  margin-top: 20px;
  box-sizing: border-box;
  height: 40%;
  padding-left: 20px;
  color: black;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.statsDetail > div {
  line-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .big {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100%;
  }
  .inputDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
  .inputDetail h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  button {
    margin-left: 0px;
    width: 15rem;
    margin-top: 1rem;
  }
  .input p {
    width: 6rem;
  }
  .total {
    background-color: white;
    color: black;
  }
  .statsDetail {
    padding: 2rem;
    border-radius: 2rem;
    background-color: white;
    width: 140%;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
    margin-bottom: 2rem;
  }
}

.lds-ring {
  display: inline-block;
  position: absolute;
  width: 20rem;
  height: 20rem;
}
.lds-ring div {
  box-sizing: border-box;
  /* display: block; */
  position: absolute;
  width: 20rem;
  height: 20rem;
  /* margin: 8px; */
  border: 8px solid #a1dbdd;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #a1dbdd transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ml1 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 {
  top: 0;
}
.ml1 .line2 {
  bottom: 0;
}
</style>
